body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url(https://tse4.mm.bing.net/th?id=OIP.mpnXPS_dro2GCN0ZI2_ecAHaE8&pid=Api&P=0&h=220);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background: #f9f6e3;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.input-section {
    display: flex;
    align-items: center;
}

.input-section input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    background: #9f9f9f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
}

.edit-button {
    background: #4e4e4e;
}

.delete-button {
    background: #ff952b;
}

.checked {
    text-decoration: line-through;
}
